<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    
    <div>
        <h3>{{USUARIO}}</h3>
        <ul>
            <li>Peso: {{PESO}}</li>
            <li>Altura: {{ALTURA}}</li>
            <li>Idade: {{IDADE}}</li>
            <li>Sexo: {{SEXO}}</li>
        </ul>
        <div>
            <h3>Resultado: {{ICM}}</h3>
            <h4>Classificação: {{CLASSIFICACAO}}</h4>
        </div>
    </div>
    <a href="/index.html">Calcular Novamente</a>
</body>
</html>